
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Compiled result
*.o
a.out
Main.efi

# Initrd binary
embed/initrd.*

# macOS trash
.DS_Store
# vscode trash
.vscode
# Dolphin trash
.directory
